.arrive-table-section {
  background-color: $color-primary-light;
  padding-top: 1rem;
}

/*--------section Form----------------------*/
.section-form {
  background-color: $color-primary-light;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 2rem;
}

*:focus {
  outline: none;
}

/*---------section dog walks---------*/

.section-dog-walks {
  background-color: $color-primary-light-green;
}
